<div class="container blog-container">
    <div class="blog" *ngFor="let blog of blogList" (click)="gotoBlog(blog)">
        <div class="module line-clamp-h3">
            <h3>{{ blog.title }}</h3>
        </div>
        <div class="module line-clamp">
            <p>{{ blog.content }}</p>
        </div>
    </div>
</div>
<button class="new-blog btn btn-primary" (click)="gotoNewBlog()">
  <img
    width="16px"
    src="https://img-premium.flaticon.com/png/512/3524/premium/3524388.png?token=exp=1631182861~hmac=638218d0c00a005f023d53d7ec7f9d9c"
    alt="add"
  />
</button>
