.blog-wrapper {
    margin-top: 2%;
}

.blog-wrapper p {
    line-height: 30px;
    margin-top: 2%;
}

.comments {
    display: flex;
    /* align-items: center; */
}

.comment {
    width: 60%;
}

.comment textarea {
    width: 100%;
}

.add-btn-wrapper {
    margin-left: 1%;
}

.comment-view {
    background-color: #eeeeee5e;
    width: 60%;
}
